anyascii==0.1.7
blis==0.7.4
Brotli==1.0.9
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
contractions==0.0.48
cymem==2.0.5
Cython==0.29.14
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
Flask==1.1.2
Flask-Compress==1.9.0
future==0.18.2
gensim==3.8.3
gevent==21.1.2
greenlet==1.0.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
murmurhash==1.0.5
numpy==1.20.1
packaging==20.9
pandas==1.2.3
pathy==0.4.0
plotly==4.14.3
preshed==3.0.5
pyahocorasick==1.4.1
pycparser==2.20
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
retrying==1.3.3
scipy==1.6.1
six==1.15.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
textsearch==0.0.21
thinc==8.0.2
tqdm==4.59.0
typer==0.3.2
urllib3==1.26.3
wasabi==0.8.2
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0
